<ul class="navbar-nav me-auto mb-2 mb-md-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" 
    routerLink="/" title="welcome to my home page">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/concepts">Concepts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/employees">Employees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about-us">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact">Contact</a>
  </li>
  <ng-content></ng-content>
</ul>